[Unit]
Description=Fix nhc.conf
After=local-fs.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/fix-nhc.py /etc/nhc/nhc.conf
TimeoutSec=120
ExecStartPre=/bin/sleep 60

[Install]
WantedBy=multi-user.target
