[Unit]
Description=Install FGCI SSH host keys
After=network-online.target remote-fs.target rpcbind.target rc-local.service autofs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/install-fgci-ssh-host-keys.sh
TimeoutSec=60

[Install]
WantedBy=multi-user.target
